@import url(basic.css);
@import url(header.css);
@import url(searchContainer.css);
@import url(statsContainer.css);
@import url(settingsContainer.css);

body {
    background-color: white;
}

#main {
    padding: 0;
    width: 400px;
    max-height: 300px;
    background: whitesmoke;
}