.search-output {
    padding: 5px;
}

.search-output:hover {
    background-color: yellowgreen;
    cursor: pointer;
}

.output-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-left: 4px;
    padding-right: 4px;
    color: black; 
    background-color: orange;
}

.output-val {
    margin-left: 5px;
}

.output-occurence {
    margin-left: 2px;
    margin-right: 2px;
}

.add {
    margin-left: 2px;
    display: flex;
}

.sub {
    display: flex;
}

.add:hover {
    color: white;
}

.output-total-occurences {
    margin-left: 3px;
    margin-right: 2px;
}

.sub:hover {
    color: white;
}

#output-container {
    overflow-y: auto;
    height: fit-content;
    max-height: 150px;
    padding: 0;
}

#slider-container {
    width: 85%;
}

#filter-slider {
    height: 100%;
    width: 100%;
}

#filter-slider:hover {
    cursor: pointer;
}

#search-btn {
    margin-left: 1px;
}

#filter-value {
    text-align: center;
    width: 3em;
    padding-left: 0px;
    padding-right: 0px;
}
