.search-output {
    padding: 5px;
}

.search-output:hover {
    background-color: yellowgreen;
    cursor: pointer;
}

.output-badge {
    color: black; 
    background-color: orange;
}

#search-container {
    display: none;
}

#pattern {
    margin-right: 4px;
}

#output-container {
    overflow-y: auto;
    height: fit-content;
    max-height: 150px;
    padding: 0;
    display: none;
}

#filter-container {
    display: inline-flex;
    width: 100%;
}

#slider-container, #filter-value {
    margin: 0 auto;
}

#filter-value {
    padding: 4px;
    width: 10%;
    margin-right: 5px;
}

#filter-percent-value {
    color: darkorange;
    font:bold;
}

#slider-container {
    width: 90%;
}

#filter-slider {
    height: 100%;
    width: 100%;
}

#filter-slider:hover {
    cursor: pointer;
}

#search-btn {
    margin-left: 1px;
}
