#search-container {
    display: none;
}

#control-container {
    padding: 5px;
}

#output-container {
    overflow-y: auto;
    height: fit-content;
    max-height: 150px;
    padding: 0;
}

#filter-container {
    display: inline-flex;
    width: 100%;
}

#slider-container, #filter-value {
    margin: 0 auto;
}

#filter-value {
    padding: 4px;
    width: 10%;
    margin-right: 5px;
}

#slider-container {
    width: 90%;
}

#filter-slider {
    height: 100%;
    width: 100%;
}

#output-card {
    width: auto;
}

#search-btn {
    margin-left: 1px;
}
