.search-output {
    padding: 5px;
}

.search-output:hover {
    background-color: yellowgreen;
    cursor: pointer;
}

.output-badge {
    color: black; 
    background-color: orange;
}

#output-container {
    overflow-y: auto;
    height: fit-content;
    max-height: 150px;
    padding: 0;
}

#slider-container {
    width: 90%;
}

#filter-slider {
    height: 100%;
    width: 100%;
}

#filter-slider:hover {
    cursor: pointer;
}

#search-btn {
    margin-left: 1px;
}
