#settings-container {
    display: none;
    max-height: 556px;
    overflow-y: auto;
}

#reset-settings-btn {
    margin-right: 60px;
}

.setting {
    display: flex;
    margin-top: 15px;
    margin-left: 10px;
}

.setting-label {
    margin-right: 10px;
}

.setting-value {
    width: 3em;
    height: 1.5em;
    text-align: center;
    padding: 0.1em;
    padding-right: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.improper {
    background-color: red!important;
}

.language-select {
    width: 5.5em;
    height: 1.5em;
    padding: 0px;
    padding-left: 3px;
    cursor: pointer;
}

.utf-select {
    width: 3.5em;
    height: 1.5em;
    padding: 0px;
    padding-left: 3px;
    padding-right: 0px;
    cursor: pointer;
}