#stats-container {
    max-height: 256px;
    overflow-y: auto;
}

#stats-search-time::after {
    content: " ms";
}

.stats-value-badge {
    font-size: 0.85em;
    padding: 3px;
    background-color: yellowgreen;
    color: black;
}
